name: flutter_ar_easy
description: "A simplified AR integration wrapper for Flutter. Place 3D models in AR with 5 lines of code."
version: 0.1.0
homepage: https://github.com/Sanaullah49/flutter_ar_easy

environment:
  sdk: ^3.11.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:

  plugin:
    platforms:
      android:
        package: com.example.flutter_ar_easy
        pluginClass: FlutterArEasyPlugin
      ios:
        pluginClass: FlutterArEasyPlugin
