<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_ar_easy">
    <queries>
        <package android:name="com.google.ar.core" />
        <package android:name="com.android.vending" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />

    <application>
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>
</manifest>
